@inject IMarkdownService MarkdownService
@inject IJSRuntime JsRuntime

<PageTitle>@Title - Dynamic Form Blazor</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Class="py-4">
    <MudGrid>
        <MudItem xs="12" lg="9">
            <MudCard Elevation="2">
                <MudCardContent>
                    @if (_isLoading)
                    {
                        <MudProgressLinear Color="Color.Primary" Indeterminate="true" />
                        <MudText Class="mt-4" Align="Align.Center">Loading documentation...</MudText>
                    }
                    else
                    {
                        <div class="markdown-content">
                            @((MarkupString)_htmlContent)
                        </div>
                    }
                </MudCardContent>
            </MudCard>
        </MudItem>
        
        <MudItem xs="12" lg="3">
            <MudCard Elevation="1">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">Table of Contents</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudNavMenu>
                        @foreach (var tocSection in _tableOfContents)
                        {
                            <MudNavLink OnClick="@(() => ScrollToSection(tocSection.Id))">
                                @tocSection.Title
                            </MudNavLink>
                        }
                    </MudNavMenu>
                </MudCardContent>
            </MudCard>
            
            <MudCard Elevation="1" Class="mt-4">
                <MudCardContent>
                    <MudText Typo="Typo.h6" GutterBottom="true">Quick Links</MudText>
                    <MudStack Spacing="2">
                        <MudButton Variant="Variant.Outlined" 
                                  Color="Color.Primary" 
                                  StartIcon="@Icons.Material.Filled.PlayArrow"
                                  Href="/fluent"
                                  FullWidth="true">
                            Try Live Demo
                        </MudButton>
                        <MudButton Variant="Variant.Outlined" 
                                  Color="Color.Secondary" 
                                  StartIcon="@Icons.Custom.Brands.GitHub"
                                  Href="https://github.com"
                                  Target="_blank"
                                  FullWidth="true">
                            View Source
                        </MudButton>
                    </MudStack>
                </MudCardContent>
            </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>